In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_excel('airbnb.xlsx')

In [69]:
price_mean = df['Price'].mean()

In [70]:
price_std = df['Price'].std()

In [65]:
quartiles = df['Price'].quantile([0.25,0.75])
iqr = quartiles[0.75] - quartiles[0.25]
print(iqr)

115.0

In [73]:
high_outlier = quartiles[0.75] + (3*iqr)
high_outlier

540.0

In [77]:
low_outlier = quartiles[0.25] - (3*iqr)
low_outlier

-265.0

In [78]:
# df = df.reset_index()
df = df.drop(['level_0','index'], axis=1)

In [82]:
df[df['Price']>2000]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,23248648,2014-11-02,NO LONGER BOOKING RESERVATIONS,Manhattan,Apartment,95.0,Entire home/apt,10025.0,2.0,1,21,10000,95.0
1,1177497,2011-09-18,Film Location,Brooklyn,House,NaN,Entire home/apt,11205.0,5.0,1,0,8000,NaN
2,11598359,2014-01-24,SUPER BOWL Brooklyn Duplex Apt!!,Brooklyn,Apartment,NaN,Entire home/apt,11238.0,4.0,1,0,6500,NaN
3,496780,2011-04-09,test listing which is not real,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,5.0,1,0,5999,NaN
4,23564279,2014-11-10,Breathtaking 2-Story Soho Penthouse,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,5000,NaN
5,9056494,2013-09-25,Super football SB weekend deal.,Manhattan,Apartment,NaN,Entire home/apt,10040.0,2.0,1,0,5000,NaN
6,2675644,2012-06-18,Turn of the Century Film Location,Staten Island,House,40.0,Entire home/apt,10301.0,12.0,1,1,5000,40.0
7,213266,2010-08-26,Beautiful 1 Bedroom in Nolita/Soho,Manhattan,Apartment,75.0,Entire home/apt,10012.0,2.0,1,2,5000,76.0
8,904192,2011-08-01,SOHO PENTHOUSE W/ PRIVATE ROOFDECK,Manhattan,Apartment,NaN,Entire home/apt,10012.0,3.0,1,0,4750,NaN
9,1177497,2011-09-18,Photography Location,Brooklyn,House,100.0,Entire home/apt,11205.0,5.0,1,3,4500,100.0
10,11026037,2014-01-04,Beautiful 2br/2bath 1300 sq ft apt,Manhattan,Apartment,NaN,Entire home/apt,10022.0,2.0,1,0,4500,NaN
11,10854661,2013-12-27,Extraordinary Space,Queens,Other,NaN,Entire home/apt,11101.0,1.0,1,0,4000,NaN
12,4204562,2012-11-20,"MOVIE SHOOTS! 14,000sf MANSION",Bronx,House,NaN,Entire home/apt,10471.0,8.0,1,0,4000,NaN
13,10967533,2014-01-02,LES 3BR Duplex w/ Private Backyard,Manhattan,Apartment,NaN,Entire home/apt,10002.0,3.0,1,0,4000,NaN
14,1427243,2011-11-20,Prime NYC Location for Super Bowl,Manhattan,Apartment,NaN,Entire home/apt,10003.0,4.0,1,0,3750,NaN
15,31433828,2015-04-18,1.5 month lease near Lincoln Center,Manhattan,Apartment,100.0,Entire home/apt,10023.0,1.0,1,1,3500,100.0
16,37155810,2015-06-30,Central Park Luxury : 115916,Manhattan,Apartment,NaN,Entire home/apt,10019.0,2.0,1,0,3390,NaN
17,11052635,2014-01-05,L BIG STUDIO WITH TERRACE,Manhattan,Apartment,NaN,Entire home/apt,10014.0,1.0,1,0,3200,NaN
18,36538690,2015-06-23,Park Slope Brooklyn for July,Brooklyn,Apartment,100.0,Entire home/apt,11215.0,3.0,1,1,3100,100.0
19,3075102,2012-07-27,Unique space for shoots and event,Manhattan,Loft,NaN,Entire home/apt,10003.0,1.0,1,0,3000,NaN
20,256239,2010-10-08,Beautiful 3 bedroom in Manhattan,Manhattan,Apartment,NaN,Private room,10025.0,NaN,1,0,3000,NaN
21,11015793,2014-01-04,SuperBowl rental-1 block from penn,Manhattan,Apartment,NaN,Entire home/apt,10001.0,1.0,1,0,3000,NaN
22,11541574,2014-01-22,SuperBowl Rental Tribeca 5Room2Bath,Manhattan,Apartment,NaN,Entire home/apt,10007.0,5.0,1,0,3000,NaN
23,8503180,2013-08-28,East Village Townhouse,Manhattan,House,100.0,Entire home/apt,10003.0,4.0,1,3,3000,100.0
24,11610321,2014-01-24,3 Bedroom Apartment,Manhattan,Apartment,NaN,Entire home/apt,10016.0,3.0,1,0,2750,NaN
25,904192,2011-08-01,"FAMOUS SOHO ""MERCER ST."" PENTHOUSE!",Manhattan,Apartment,95.0,Entire home/apt,10012.0,6.0,1,17,2750,95.0
26,6914968,2013-06-14,Columbus Circle and Park Views,Manhattan,Apartment,NaN,Entire home/apt,10019.0,3.0,1,0,2695,NaN
27,37155810,2015-06-30,Central Park South Views : 112754,Manhattan,Apartment,NaN,Entire home/apt,10019.0,1.0,1,0,2599,NaN
28,5907325,2013-04-13,"Luxury 6BR Townhouse, Upper East",Manhattan,House,100.0,Entire home/apt,10021.0,6.0,1,14,2520,100.0
29,32756420,2015-05-06,SEE POPE IN NYC! (HOME SLEEPS FOUR),Manhattan,Apartment,NaN,Entire home/apt,10023.0,2.0,1,0,2500,NaN
30,4751930,2013-01-18,Spectacular Former Synagogue,Manhattan,Townhouse,85.0,Entire home/apt,10009.0,3.0,1,3,2500,87.0
31,11513199,2014-01-21,Unique 3BD w/ Private Patio & Brick,Manhattan,Apartment,NaN,Entire home/apt,10014.0,3.0,1,0,2500,NaN
32,18138075,2014-07-15,ST REGIS 2 bed CONDO - luxe 1/2 off,Manhattan,Other,NaN,Entire home/apt,10022.0,2.0,1,0,2500,NaN
33,12116715,2014-02-10,Culinary Event and Meeting Space,Manhattan,Loft,100.0,Entire home/apt,10013.0,1.0,1,1,2500,100.0
34,13541481,2014-03-25,let's make a deal...,Queens,House,NaN,Shared room,11418.0,2.0,1,0,2500,NaN
35,1394678,2011-11-10,CENTRAL PARK WEST PENTHOUSE,Manhattan,Apartment,NaN,Entire home/apt,10023.0,3.0,1,0,2500,NaN
36,11583584,2014-01-23,Beautiful Luxury 3Bed in Chelsea,Manhattan,Apartment,NaN,Entire home/apt,10001.0,3.0,1,0,2500,NaN
37,11347144,2014-01-15,Furnished 2BR-1BA SuperBowl rental,Manhattan,Apartment,NaN,Entire home/apt,10002.0,3.0,1,0,2500,NaN
38,11664089,2014-01-26,"SUPER BOWL 2BR 1.5 BATH ~1,200 SQFT",Manhattan,Apartment,NaN,Entire home/apt,10014.0,2.0,1,0,2499,NaN
39,37155810,2015-06-30,Midtown Retreat Penthouse : 115333,Manhattan,Apartment,NaN,Entire home/apt,10018.0,3.0,1,0,2486,NaN
40,37155810,2015-06-30,Upper West Side Highrise : 113201,Manhattan,Apartment,NaN,Entire home/apt,10007.0,2.0,1,0,2486,NaN
41,8040427,2013-08-09,Amazing 2800 sqf Tribeca Loft,Manhattan,Apartment,100.0,Entire home/apt,10013.0,6.0,1,1,2295,100.0
42,11875004,2014-02-02,Beautiful Studio in the heart of EV,Manhattan,Apartment,NaN,Entire home/apt,10009.0,1.0,1,0,2250,NaN